<p>Добрый день, {{name}},</p>
<p>Перейдите по ссылке для восстановления вашего пароля</p>
<p>
  <a href='{{url}}'>Перейти к восстановлению</a>
</p>

<p>Если вы не запрашивали это письмо, то проигнорируйте его!</p>