<p>Добрый день {{name}},</p>
<p>Перейдите по ссылке, для востановления пароля</p>
<p>
  <a href='{{url}}'>Перейти к востановлению</a>
</p>

<p>Если вы не запрашивали это письмо, проигнорируйте его.</p>